# Mac files
.DS_Store

# Dependency directories
/node_modules
/web/node_modules
/studio/node_modules

# Lerna files
/lerna-debug.log

## Environment tokens
.env
.env.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Compiled Directories
public/
.cache/
/web/public
/web/.cache
*/public/*
*/.cache/*
/studio/dist

## Local development certs
certs/rootCA*
