GATSBY_SANITY_PROJECT_ID="on977l64"
GATSBY_SANITY_DATASET="development"
GATSBY_SANITY_SITE_SETTINGS_DOCUMENT_ID="siteSettings"

# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
SANITY_WRITE_TOKEN=""

